{# Include endpoints for each worker type #}
matrix_synapse_workers_initial_sync_count: {{ workers_initial_sync_count }}
matrix_synapse_workers_initial_sync_port_range_start: 20000
matrix_synapse_workers_initial_sync_metrics_range_start: 20100
matrix_synapse_workers_initial_sync_replication_port_range_start: 20200

matrix_synapse_workers_sync_count: {{ workers_sync_count }}
matrix_synapse_workers_sync_port_range_start: 20300
matrix_synapse_workers_sync_metrics_range_start: 20400
matrix_synapse_workers_sync_replication_port_range_start: 20500

matrix_synapse_workers_event_persister_count: {{ workers_event_persister_count }}
matrix_synapse_workers_event_persister_port_range_start: 20600
matrix_synapse_workers_event_persister_metrics_range_start: 20700
matrix_synapse_workers_event_persister_replication_port_range_start: 20800

matrix_synapse_workers_client_count: {{ workers_client_count }}
matrix_synapse_workers_client_port_range_start: 20900
matrix_synapse_workers_client_metrics_range_start: 21000
matrix_synapse_workers_client_replication_port_range_start: 21100

# Only 1 background job worker is allowed
matrix_synapse_workers_background_jobs_count: {{ workers_background_jobs_count }}
matrix_synapse_workers_background_jobs_port_range_start: 21200
matrix_synapse_workers_background_jobs_metrics_range_start: 21300
matrix_synapse_workers_background_jobs_replication_port_range_start: 21400

# Only 1 presence worker is allowed
matrix_synapse_workers_presence_count: {{ workers_presence_count }}
matrix_synapse_workers_presence_port_range_start: 21500
matrix_synapse_workers_presence_metrics_range_start: 21600
matrix_synapse_workers_presence_replication_port_range_start: 21700

matrix_synapse_workers_accounts_count: {{ workers_account_count }}
{# Add endpoints lists #}
{%- include 'templates/workers/endpoints.yml.j2' %}
