{% for worker in matrix_nginx_proxy_proxy_synapse_workers_enabled_list %}
  - job_name: '{{ matrix_env }}-synapse-{{ worker.sub_type }}-{{ worker.instanceId }}'
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /_synapse-worker-{{ worker.sub_type }}-{{ worker.instanceId }}/metrics
{% if matrix_nginx_proxy_proxy_synapse_metrics_basic_auth_enabled %}
    basic_auth:
      username: prometheus
      password: {{ '${{synapse-metrics-password}}' }}
{% endif %}
    static_configs:
      - targets: ['{{ matrix_server_fqn_matrix }}:{{ matrix_nginx_proxy_container_https_host_bind_port if matrix_nginx_proxy_https_enabled else matrix_nginx_proxy_container_http_host_bind_port }}']
        labels:
          job: "{{ matrix_server_fqn_matrix }}-{{ worker.type }}"
          index: {{ worker.instanceId }}
    relabel_configs:
      - target_label: team
        replacement: dservices
      - target_label: env
        replacement: {{ matrix_env }}
{% endfor %}
